/* tags */

body {
    margin: 0;
    text-align: center;
}

/* classes */

.bars {
    align-items: flex-end;
    bottom: 50px;
    display: flex;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
}

.bar {
    align-items: center;
    color: white;
    display: inline-block;
    padding-top: 2px;
}