/* tags */

body {
    margin: 0;
    text-align: center;
}

/* classes */

.bars {
    align-items: flex-end;
    bottom: 42px;
    display: flex;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
}

.bar-height-display {
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 0 3px;
    position: absolute;
}

.bar {
    align-items: center;
    color: white;
    display: inline-block;
    padding-top: 2px;
}

.base-block {
    bottom: 0px;
    display: block;
    height: 45px;
    position: absolute;
    width: 100%;
}